.cta {

	.section-inner {
		padding-top: $cta--padding-t__mobile;
		padding-bottom: $cta--padding-b__mobile;
	}
}

.cta-slogan {
	margin-bottom: $cta-slogan--padding-v__mobile;
}

@include media( '>medium' ) {

	.cta {

		.section-inner {
			padding-top: $cta--padding-t__desktop;
			padding-bottom: $cta--padding-b__desktop;
		}
	}

	.cta-slogan {
		margin-bottom: $cta-slogan--padding-v__desktop;

		.cta-split & {
			margin-bottom: 0;
			margin-right: $cta-slogan--padding-h__desktop;
		}
	}
}

.contact-input {
  width: 70%;
  padding: 10px 0 0 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 75%;
  box-sizing: border-box; /* ensures padding doesn't break width */
}

/* Tablets / medium screens (between 640px and 1024px) */
@media (max-width: 1024px) and (min-width: 641px) {
  .contact-input {
    width: 80%;
  }
}

/* Mobile / small screens (up to 640px) */
@media (max-width: 640px) {
  .contact-input {
    width: 100%;
  }
}
